*{
    margin: 0;
    padding: 0;
}
.head_container{
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic{
    height: 70px;
    /* border-radius: 50%;
    border: 5px solid rgb(224, 83, 83); */
}

.head_list{
    width: 300px;
    /* height: 100px; */
    /* background-color: aqua; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .item{
    margin: 10px;
    padding: 5px;
    font-size: 18px;
} */

.item:hover{
    color: aqua;
    cursor: pointer;
}


.pic1{
    height: 400px;
    width: 400px;
    border: 2px solid yellowgreen;
    border-radius: 64% 36% 61% 39% / 44% 74% 26% 56%;
    /* box-shadow: 4px 4px 4px white; */
}

.banner_main{
    height: 88vh;
    width: 100vw;
    /* border: 2px solid red; */
    color: white;
    background-image: linear-gradient( 45deg,#000,#00000047);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.banner_heading{
    font-size: 25px;
} 

.s1{
    color: gold;
}

.s1:hover{
    color: brown;
    cursor: pointer;
    /* font-size: 35px; */
}

.btn{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: gold;
    border: 2px solid yellow;
    color: white;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 3px 3px 3px yellow;
}

.btn:hover{
    background-color: red;
    color: white;
    border: 2px solid red;
    box-shadow: 3px 3px 3px red;
}

.c1{
    width: 100vw;
    height: 85vh;
    background-image: linear-gradient(45deg,#1f29c0,#471fc07b);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    /* border: 2px solid red; */
}

.about_text{
    color: white;
    font-family: 'Courgette', cursive;
}
.about_heading{
    font-size: 30px;
}
.hd1{
    background-image: linear-gradient(45deg,#1f29c0,#471fc07b);
    text-align: center;
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 40px;
}

.pic2{
    height: 400px;
    width: 400px;
    /* border: 2px solid blue; */
    /* border-radius: 64% 36% 61% 39% / 44% 74% 26% 56%; */
    border-radius: 29% 22% 26% 21% / 28% 29% 32% 21% ;
    /* box-shadow: 4px 4px 4px white; */
}

.sp1{
    color: rgb(191, 13, 13);
}

.sp1:hover{
    color: #1f29c0;
}

.p1{
    margin-top: 15px;
    font-size: 18px;
    margin-left: 20px;
    text-align: center;
}

.btn1{
    height: 50px;
    width: 350px;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(33, 33, 152);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 18px;
}

.btn1:hover{
    background-color: white;
    color: black;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;'
    font-size: 18px; */
    box-shadow: 3px 3px 3px yellow;
}